header{
    background-color: coral;
    color: darkred;
}
footer{
    background-color: cornflowerblue;
}
section{
    background-color: crimson;
}
aside{
    background-color: rgb(206, 194, 164);
}
nav{
    background-color: darkolivegreen;
}